{% extends "base.html" %}
{%block title%}Home{%endblock%}


{%block content%}
    
    <div class="container mt-4" id="content">
        
        <div class="row row-cols-4">
            {%if postable%}
            <form method="POST" enctype = "multipart/form-data" >
                <div class="col">
                    <h3>New Post</h3>
                    <div class="mb-3">
                        {{form.title.label}}
                        {{form.title(placeholder_="Enter Title", class_='form-control')}}
                    </div>
                    <div class="mb-3">
                        {{form.description.label}}
                        {{form.description(placeholder_="Enter Description", class_='form-control', col="30", row="30")}}
                    </div>
                    <div class="mb-3">
                        {{form.img_file.label}}
                        {{form.img_file(class_='form-control')}}
                    </div>
                    <br/>
                    <button class="empty" onclick="loading();">{{form.submit(class_="btn gradient-custom-2 btn-primary")}}</button>
                    <div class="spinner-border" id="loading"  role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </form>
            {%else%}
            <form method="POST" enctype = "multipart/form-data" >
                <div class="col">
                    <h3>Update Post</h3>
                    <div class="mb-3">
                        {{form.title.label}}
                        {{form.title(placeholder_="Enter Title", class_='form-control', value=post_update.title)}}
                    </div>
                    <div class="mb-3">
                        {{form.description.label}}
                        {{form.description(placeholder_="Enter Description", class_='form-control', value=post_update.id,  col="30", row="30")}}
                    </div>
                    <br/>
                    <p>{{form.submit(class_="btn gradient-custom-2 btn-primary")}}</p>
                </div>
            </form>
            {%endif%}
            <div class="col-9">
                
                <div class="d-flex align-content-start flex-wrap">
                    {%for post in posts%}
                        <div class="card mb-4 mr-4 border border-primary p-2" style="width: 18rem;">
                            <img src="{{post.img_name}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{post.title}}</h5>
                              <p class="card-text">{{post.description}}</p>
                              
                              <p class="card-text text-info">Posted: {{time_ago(post.date)}}</p>
                              <br/>
                            </div>
                            <div class="text-center">
                            
                                <a href="{{url_for('views.comments', postId=post.id)}}" class="btn gradient-custom-2 btn-primary">Comments</a>
                                {%if user.id == post.user.id%}
                                    <a href="{{url_for('views.update_post', user_id= user.id, post_id= post.id)}}" class="btn btn-warning "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg></a>  
                                    <a href="{{url_for('views.delete_post', user_id= user.id, post_id= post.id)}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg></a>
                                    
                                    
                                {%endif%}
                            </div>        
                                
                            
                        </div>
                    {%endfor%}
                      
                </div>
            </div>
        </div>
    </div>

{%endblock%}